<mat-dialog-content class="dialog-content">
    <div class="button-close">
        <h1>{{data.title}}</h1>
        <button mat-mini-fab matTooltip="Primary" color="primary" matDialogClose>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <br>
    <div>
        <p>{{data.brand}}</p><!-- TODO here -->
        <p>Main Category: {{ data.main_cat }}</p>
        <p>Date: {{ data.date }}</p>
        <p>Price: {{ data.price }}</p>
        <p>ASIN: {{ data.asin }}</p>
        <p>Description: {{ data.description }}</p>
        <p>Category: {{ data.category }}</p>
        <p>Feature: {{ data.feature }}</p>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="review-container">

    <div class="button-container">
        <button mat-raised-button>
            <mat-icon>shopping_cart</mat-icon>
            buy
        </button>
        <button mat-raised-button color="none" matDialogClose>Cancel</button>
    </div>

</mat-dialog-actions>