<h1>Kosár nézet</h1>
<div class="stepper-container">
    <mat-stepper labelPosition="bottom" #stepper>
        <mat-step >
          <form >
            <ng-template matStepLabel>View cart items</ng-template>

            [LIST OF ITEMS]
<!--             <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field> -->
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="shippingDataForm" >
          <form [formGroup]="shippingDataForm" class="form-container">
            <ng-template matStepLabel>Fill out shipping information</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="nameForm" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phoneForm" placeholder="PhoneNumber" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Shipping address</mat-label>
              <input matInput formControlName="addressForm" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Billing address</mat-label>
              <input matInput formControlName="billingAddressForm" placeholder="Ex. 1 Main St, New York, NY" >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="emailForm" placeholder="Provide email address" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Payment</ng-template>
          <p>Payment section</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Comfirm purchase</button>
          </div>
        </mat-step>
      </mat-stepper>
</div>


<div>
    TODO RECOMENDATIONS BASED ON ITEMS IN CART
  </div>