<footer class="footer">
    <div class="content">
        <div class="column">
            <div class="title">
                <mat-icon>shopping-bag</mat-icon>
                <p class="main">ECOMMERCE Shopping Assistent</p>
            </div>
        </div>
        <div class="column">
            <div class="title">
                <p *ngIf="getAuthenticated()"><a routerLink="cart">Cart</a>&nbsp;&#x2022;</p>
                <p *ngIf="getAuthenticated()">&nbsp;<a routerLink="profile">Profile</a>&nbsp;&#x2022;</p>
                <p>&nbsp;<a routerLink="login" (click)="logout()">Logout</a></p>
            </div>
        </div>

    </div>

    <div class="content">
        <div class="column">
            <h3>Contact Us</h3>
            <div class="contact">
                <p><a href="https://github.com/zsdrahos/ecommerce-angular"><i class="fa fa-github" style="font-size:20px"></i>&nbsp;Angular</a></p>
                <p>&nbsp;&#x2022;&nbsp;<a href="https://github.com/KodmonDaniel/ecommerce-backend"><i class="fa fa-github" style="font-size:20px"></i>&nbsp;Backend</a></p>
                <p>&nbsp;&#x2022;&nbsp;<a href="mailto:zsdrahos@gmail.com; matyas.richtercserey@gmail.com; dani.kodmon@gmail.com; dittrich.kos@gmail.com"><i class="fa fa-envelope" style="font-size:20px"></i> Email</a></p>
            </div>
            <p class="copyright">Created by Drahos Zsolt, Dittrich Ákos, Ködmön Dániel, Richter-Cserey Mátyás</p>
            <br>
            <p class="copyright"><a href="https://www.aut.bme.hu/Course/VIAUMA06">BME AUT Szoftverarchitektúrák 2023 </a></p>
        </div>
    </div>
</footer>