.card-container {
    display: flex;
    justify-content: center;
    margin: 15px;

}

.custom-card:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245)
}

mat-card img {
    height: 140px;
    width: 140px;
    padding: 10px;
}


.custom-row-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.custom-column-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.custom-shadow{
    box-shadow:0 10px 10px 10px rgba(0,0,0,0.3)
}

mat-card-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-height: 1.2em;
}


.crazy-hover-effect:hover {
    transition: 0.2s;
    transform: translate(0, -10px);
    font-weight: 450;
}