<div class="card-container crazy-hover-effect" [ngClass]="{'custom-shadow': shadow}">
    <mat-card class="mat-elevation-z8" [ngClass]="{ 'custom-column-card': !isRow(), 'custom-row-card': isRow()}"  (click)="openDetailDialog(product)">
        <img [src]="parse(product?.image_URL_High_Res)" class="element-logo">
        <mat-card-content matRipple>
            <p>{{product?.title}}</p>
            <!-- <p>{{product?.brand}}</p> -->
            <p>{{product?.price}}</p>
            <button *ngIf="showButton" mat-raised-button color="primary" (click)="handleButtonClick($event, product)">
                <mat-icon>shopping_cart</mat-icon>
                Add to cart
            </button>
        </mat-card-content>
    </mat-card>

    <h1 *ngIf="!product">No Product Available</h1>
</div>