.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.button-close{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 25px;
    padding-top: 20px;
    gap: 35px;
}

.button-close h1{
    margin: 0px;    
}


.main-container {
    scrollbar-width: none !important; /* Hide the scrollbar in Firefox */
    -ms-overflow-style: none !important; /* Hide the scrollbar in Edge */
    ::-webkit-scrollbar {
        display: none !important; /* Hide the scrollbar in WebKit-based browsers */
    }

}
