<div *ngIf="!isUserNull()" class="container">
    <div class="col">
    <mat-card>
        <div class="data-container">
            <mat-card-header>
                <mat-card-title>{{userData.name}}</mat-card-title>
                <mat-card-subtitle>{{userData.email}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="content">
                <!--<div>
                    <mat-icon>call</mat-icon>
                    <p>{{userData.phone}}</p>
                </div>-->
            </mat-card-content>
        </div>
        <!-- <mat-icon class="icon">account_circle</mat-icon> -->
        <img src="assets/profile.png" alt="qr code" width="80" height="80">
    </mat-card>
</div>
<div class="col">
    <h2>Recently purchased items: </h2>
    <div class="list-container" *ngIf="productData; else spinnerBlock">
       
        <app-product-card *ngFor="let product of productData" [product]="product"
        [display]="'row'" [showButton]="false"></app-product-card>
    </div>
    <ng-template #spinnerBlock>
        <div class="spinner-container">
            <mat-spinner diameter="120"></mat-spinner>
        </div>
    </ng-template>
</div>
</div>