mat-toolbar {
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
}

mat-drawer-container {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 64px;

  overflow: hidden;
}

mat-list-item button {
  pointer-events: none;
}

.nav-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.menu-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.menu-title h1 {
  margin-bottom: 0px;
}