<mat-toolbar color="primary">
    <div class="menu-title">

        <button mat-button routerLink="login" routerLink="all-products">
            <mat-icon>shopping-bag</mat-icon>
            <h1>Ecommerce</h1>
        </button>
    </div>

    <div class="button-container">
        <button mat-button routerLink="cart">
            <mat-icon [matBadge]="cartItems" matBadgeColor="warn" matBadgeSize="small" [matBadgeHidden]="hideBadge">shopping_cart</mat-icon>
            cart
        </button>
        <ng-container *ngIf="!getAuthenticated(); else logoutBlock;">
            <button mat-button routerLink="login">
                <mat-icon>login</mat-icon>
                login
            </button>
        </ng-container>
        <ng-template #logoutBlock>
            <button mat-button routerLink="profile">
                <mat-icon>account_circle</mat-icon>
                profile
            </button>
            <button mat-button routerLink="login" (click)="logout()">
                <mat-icon>logout</mat-icon>
                logout
            </button>
        </ng-template>
    </div>
</mat-toolbar>