.custom-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-container {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.custom-card img {
    height: 140px;
    width: 140px;
    padding: 10px;
}

mat-card button {
    margin-right: 45px;
}
